<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Wed_Assignment</display-name>
  <servlet>
  <servlet-name>MyServlet</servlet-name>
  <servlet-class>com.webtech.servlets.Login</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>MyServlet</servlet-name>
  <url-pattern>/Log</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>ForgetPassword</servlet-name>
  <servlet-class>com.webtech.servlets.ForgetPassword</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>ForgetPassword</servlet-name>
  <url-pattern>/forgot</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>Sign</servlet-name>
  <servlet-class>com.webtech.servlets.SignUP</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Sign</servlet-name>
  <url-pattern>/goto</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>Back</servlet-name>
  <servlet-class>com.webtech.servlets.ForgetPassword</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Back</servlet-name>
  <url-pattern>/direct</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>Uploading</servlet-name>
  <servlet-class>com.webtech.servlets.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Uploading</servlet-name>
  <url-pattern>/upload</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>correoelectronico</servlet-name>
  <servlet-class>com.webtech.servlets.EmailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>correoelectronico</servlet-name>
  <url-pattern>/sendEm</url-pattern>
  </servlet-mapping>
</web-app>